.flex-box-container-1{
    border: 1px solid blue;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.container-1{
    border: 1px solid blueviolet;
    align-items: center;
}
.flex-box-container-1 div{
    padding: 10px;
    align-items: center;
    display: flex;
    border: 1px solid blue;
}